/* layout */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.cart-container {
  flex: 1;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  background: white;
  border-radius: 18px;
  padding: 20px;
}

.cart-container h1 {
  margin-bottom: 25px;

  margin-bottom: 25px;
}
/* table */
.cart-table {
  width: 100%;
  border-collapse: collapse; /*để cho 2 đường viền kế bên gộp lại thành 1*/
  background: white;
  border-radius: 18px;
  overflow: hidden; /* ẩn nội dung tràn ra ngoài box*/
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
}

.cart-table thead {
  background: linear-gradient(90deg, #0f62fe, #3b82f6);
  color: white;
}

.cart-table th {
  padding: 18px;
}

.cart-table td {
  padding: 18px 15px;
  text-align: center;

  transition: 0.25s;
}

.cart-table td:hover {
  border-bottom: 1px solid #d04d4d;
}
.cart-check {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
/*product*/
.cart-table td:nth-child(2) {
  font-weight: 600;
  color: #222;
}

.price-cart {
  color: #e53935;
  font-size: 17px;
  font-weight: bold;
}

.subtotal {
  color: #0f62fe;
  font-size: 17px;
  font-weight: bold;
}
/*quantity*/
.cart-table td:nth-child(6) {
  white-space: nowrap;
}

.quantity {
  width: 38px;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}

.plus,
.btn-min {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.25s;
}
.plus {
  background: #16a34a;
  color: white;
}
.plus:hover {
  background: #15803d;
  transform: scale(1.08);
}
.btn-min {
  background: #f59e0b;
  color: white;
}

.btn-min:hover {
  background: #d97706;
  transform: scale(1.08);
}

/*delete*/
.btn-delete {
  white-space: nowrap;
  background: #ef4444;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 9px 15px;
  font-weight: 600;
  transition: 0.5s;
  font-size: 18px;
}
.btn-delete:hover {
  background: #dc2626;
  transform: translateY(-5px);
}

/*total*/
.cart-total {
  margin-top: 30px;
  background: white;
  border-radius: 16px;
  padding: 25px 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-total h2 {
  margin: 0;
  font-size: 28px;
}
#total-price {
  color: #ef4444;
  margin-left: 12px;
}

/*button*/
.cart-action {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 25px;
}

.cart-action .btn {
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;

  transition: 0.5s;
}
.cart-action a:first-child {
  background: white;
  color: #333;
  border: 1px solid #ddd;
}

.cart-action a:first-child:hover {
  border: 2px solid blue;
  font-size: 20px;
}
#btnOrder {
  background: #0f62fe;
  color: white;
  cursor: pointer;
}
#btnOrder:hover {
  background: #0043ce;
  font-size: 20px;
}

/*empty cart*/
.empty-cart h3 {
  text-align: center;
  margin-top: 60px;
  font-size: 34px;
  color: #e49191;
}

.empty-cart {
  background: white;
  padding: 80px 30px;
  border-radius: 18px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.empty-cart a {
  display: inline-block;
  margin-top: 25px;
  text-decoration: none;
  background: #0f62fe;
  color: white;
  padding: 14px 30px;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 600;
  transition: 0.5s;
}
.empty-cart a:hover {
  background: #0043ce;
}

/*modal*/
.address-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.address-content {
  position: relative;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 450px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.addressForm input,
.addressForm button {
  font-size: 18px;
}
.address-content .close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
.address-content h3 {
  text-align: center;
  margin-bottom: 20px;
}
.address-content input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.close:hover {
  color: red;
}
